@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-center align-middle text-gray-200 mx-auto
  bg-center flex-auto justify-center;
}

h1 {
  @apply mt-4 text-4xl font-bold uppercase;
}
h2 {
  @apply mt-4 font-thin text-2xl uppercase z-30;
}
.h1Error {
  @apply mt-4 text-4xl font-bold uppercase text-red-500;
}

.h2Error {
  @apply mt-4 font-thin text-2xl uppercase z-30 text-red-500;
}

.yearText {
  @apply mt-1 text-4xl font-bold uppercase;
}

button {
  @apply border text-white font-bold py-4 px-4 m-4 duration-200 ease-in-out rounded-2xl bg-gray-800 uppercase;
}
button:hover {
  @apply bg-gray-700 scale-105;
}
button:active {
  @apply bg-gray-900 scale-95;
}

input[type="file"] {
  @apply m-4  bg-gray-800 border border-cyan-800 border-dashed border-spacing-5 rounded-2xl shadow-2xl duration-200;
}

/* button of input type file */
input[type="file"]::-webkit-file-upload-button {
  @apply border text-white font-bold py-4 px-4  m-4 duration-200 ease-in-out rounded-2xl bg-gray-800 uppercase border-spacing-0 border-white outline-red-200 hover:scale-105 active:scale-95;
}

img {
  height: 512px;
  width: 512px;
  @apply duration-200 ease-in-out mr-auto ml-auto rounded-3xl shadow-2xl max-w-full;
}

.fullscreenImage {
  height: 85vh;
  width: 85vh;
  background-color: rgba(0, 0, 0);

  @apply duration-200 ease-in-out mr-auto ml-auto rounded-3xl shadow-2xl max-w-full;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vh;
}

.imageWrapper {
  position: relative;
}
.closeButtonContainer {
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0px;
  @apply select-none;
}


.closeButtonContainer.fadeIn {
  opacity: 1;
}
.closeButtonContainer:hover {
  @appy background-color: rgba(255, 255, 255, 0.1);
}

.closeButton {
  border: none;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.closeButton:hover {
  scale: 125%;
}
.closeButton:active {
  scale: 75%;
}

.closeSymbol {
  font-size: 24px;
  /* centered */
  position: absolute;

  transform: translate(-50%, -50%);
}

.clickableImages {
  @apply cursor-pointer;
}

.clickableImages:hover {
  @apply scale-105;
}

.clickableImages:active {
  @apply scale-95;
}

.centerContainer {
  height: 500px;
  width: 500px;
  @apply flex relative items-center ml-auto mr-auto;
}

.backdrop {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  /* fullscreen */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* transition */
  transition: all 0.8s ease;
}

.upload {
  z-index: 0;
  position: absolute;

  height: 512px;
  width: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply duration-200 select-none ease-in-out mr-auto ml-auto rounded-3xl bg-gray-900 shadow-2xl;
}

.loading {
  z-index: 10;
  position: absolute;
  height: 512px;
  width: 512px;
  display: flex;
  justify-content: center;
  align-items: center;

  @apply duration-200 select-none ease-in-out mr-auto ml-auto rounded-3xl bg-black bg-opacity-40 backdrop-blur-sm;
}

.loadingAnimation {
  animation: loadingAnimationSpin infinite 1s linear;
  @apply text-4xl select-none duration-300 shadow-none opacity-100;
}

@keyframes loadingAnimationSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.loadingAnimation:hover {
  @apply text-5xl;
}
.loadingAnimation:active {
  @apply text-3xl;
}

.FileUploader {
  height: 512px;
  width: 512px;
  @apply duration-200 ease-in-out mr-auto ml-auto rounded-3xl bg-gray-900 shadow-2xl;
}

.startButton {
  width: 300px;
  @apply border text-white font-bold py-4 px-4 m-0 duration-200 ease-in-out rounded-2xl bg-blue-600 uppercase border-none shadow-2xl;
}

/* imput type range color green */
input[type="range"] {
  width: 512px;
  @apply bg-green-600 m-4;
}
